@import './components/custom-button/custom-button.styles';
@import './components/form-input/form-input.styles';
@import './components/header/header.styles';
@import './components/collection-item/collection-item.styles';
@import './components/collection-preview/collection-preview.styles';
@import './components/directory/directory.styles';
@import './components/menu-item/menu-item.styles';
@import './pages/homepage/homepage.styles';


body{
  font-family: 'Gotu', sans-serif;
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}

*{
  box-sizing: border-box;
}
